header
    #navbarHeader.bg-dark.collapse(style='')
        .container
            .row
                .col-sm-8.col-md-7.py-4
                    h4.text-white About project
                    p.text-muted
                        | Project for creating notes and todo lists made by students of Dan.it Misha Starodubets and Roman Zakrevskyi
                .col-sm-4.offset-md-1.py-4
                    h4.text-white Created
                    ul.list-unstyled
                        li
                            a.text-white(href='/notes') NOTES
                        li
                            a.text-white(href='#') TO DO LIST
    .navbar.navbar-dark.bg-dark.box-shadow
        .container.d-flex.justify-content-between
            a.navbar-brand.d-flex.align-items-center(href='#')
                svg.mr-2(xmlns='http://www.w3.org/2000/svg', width='20', height='20', viewBox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z')
                    circle(cx='12', cy='13', r='4')
                strong Step project Keep
            button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarHeader', aria-controls='navbarHeader', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon