doctype html
html(lang="ru")
    head
        include basic/head
    body
        include basic/header
        button(type="submit", value="Submit", style="margin:10px") Creat Notes
        button(type="submit", value="Submit", style="margin:10px") Creat Notes CkeckBox

    include basic/footer