doctype html
html(lang="ru")
    head
        include basic/head

    body
        header
        .container
            h1 Привет от todo list

            .row
                .col-md-3
                    .card.todo-list
                        .card-body.p-2
                            form#todoForm(name="todoForm")
                                .form-group
                                    label
                                        input.form-control.p-2.border-0.todo-list__input(type="text", name="title", value="sometitle", placeholder="Введите заголовок")
                                .form-group
                                    .form-check.pl-4
                                        input.form-check-input.todo-list__checkbox(type="checkbox", value="", name="check")
                                        input.form-control.p-2.border-0.todo-list__input(type="text", name="todoItem1", value="", data-input="todoItem", data-checked="false" placeholder="Заметка #1")
                                p.p-2.mb-0
                                    button.btn.btn-primary(type="button", name="submit") Сохранить

    footer
        script(src="/js/todoList.js")