.todo-list__checkbox {
  left: 8px;
  top: 15px;
  margin: 0;
}

.todo-list__input[name="title"] {
  font-weight: 600;
}

.todo-list__input:focus {
  box-shadow: none;
}

.todo-list__input.js-done {
  text-decoration: line-through;
}

/*.todo-list__input.js-done::after {*/
/*  content: "";*/
/*  */
/*  position: absolute;*/
/*  width: 100%;*/
/*  height: 1px;*/
/*  background-color: #000;*/
/*}*/

